/* cart.css */
.cart-page {
    padding: 80px 0px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px;
    border-radius: 5px;
}

.cart-item img {
    width: 125px;
    object-fit: cover;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-total.container {
    width: 100%;
}

.cart-total {
    margin: 40px 0 0 0;
    font-size: 1.6rem;
    text-align: right;
}

.cart-title, .cart-empty {
    display: flex;
}

.cart-empty {
    justify-content: center;
}

.cart-title {
    padding-bottom: 40px;
}

button.secondary.remove-btn {
    width: 100px;
}

.cart-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-card {
    padding: 40px;
    position: relative;
    background: linear-gradient(148deg, #0198ff2e, #0000);
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    width: 100%;
    border-radius: 0 12px;
}

.cart-item-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 0 12px;
    border: 1px solid transparent;
    background: linear-gradient(to left, var(--primary-blue) 50%, var(--primary-green)) border-box;
    -webkit-mask: linear-gradient(var(--light-color) 0 0) padding-box, linear-gradient(var(--light-color) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    top: 0;
    left: 0;
    right: 0;
}

h2.cart-total-price {
    margin: 15px 0px;
}

.cart-item-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-line-item-remove {
    display: flex;
    height: 46px;
}

button.secondary.remove-btn {
    width: auto;
    background: none;
    border: none;
    font-size: 2rem;
}

button.secondary.remove-btn:hover {
    color: var(--primary-red);
}

h3.cart-total-price {
    margin-bottom: 10px;
}