/* Contact style */

:root {
    --primary-dark: #23292a;
    --app-bg-dark: rgb(24, 23, 32);
    --secondary-dark-color: #292837;
    --primary-grey: #838383;
    --light-color: #fafafa;
    --primary-red: rgb(255, 0, 93);
    --primary-orange: #FF993A;
    --primary-purple: #90f;
    --byte-border-radius: 0px 12px;
    --byte-border: linear-gradient(148deg, #0198ff2e, #0000);
    --primary-green: #00c086;
    --primary-blue: #45c4d2;
    --primary-blue-hover: rgb(20 123 183 / 18%);
    --gradient-bg: linear-gradient(148deg, hsl(185.96deg 61.04% 54.71% / 18%), #0000);
}


.contact-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-option{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;    
    height: 350px;
    background-color: var(--app-bg-dark);
}

.contact-title{
    color: var(--primary-green);
}

.hero-contact-image {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height:100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for more or less darkness */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-contact-wrapper {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-contact-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-contact-content p {
    font-size: 1.5em;
    margin-top: 10px;
}

.contact-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-option {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;    
    height: 230px;
    background-color: var(--app-bg-dark);
}

.contact-title {
    color: var(--primary-green);
}

/* Contact form */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-first-words {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact-inside-option {
    margin:15px;
}

.contact-paragraph {
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}